.allbody{
    width:140vh;
    margin-left:25vh;
    height:80vh;
}
.xian{
    margin-top:1vh;
    height:1vh:
    width:140vh;

}
.xian1{
    height:4px;
    width:140vh;
    margin-top:0.3vh;
    background-color: #3594B9;
}
.body1{
    width:65vh;
    height:28vh;
    border:4px solid #3594B9;
    border-radius:25px ;
    margin-top:1vh;
    margin-left:1.5vh;
    display:inline-block;
}
.body2{
    width:65vh;
    height:28vh;
    margin-top:1vh;
    margin-left:5vh;
    border:4px solid #3594B9;
    display:inline-block;
    border-radius:25px ;
}

.xiankuang{
    height:3vh:
    width:140vh;
    margin-top:1vh;
}
.xian2{
    height:2px;
    width:100vh;
    margin-top:5px;
    background-color:#3594B9;
}

.body3{
    width:65vh;
    height:35vh;
    margin-top:1vh;
    margin-left:1.5vh;
    border:4px solid #3594B9;
    border-radius: 25px;

}
.body333{
    height:18vh;
    width:65vh;
    display:flex;
    flex-direction:row;
}
.body31{
    height:17.2vh;
    width:32vh;
    margin-top:-1vh;
    margin-left:-4vh;
}
.body3333{
    height:16.8vh;
    width:34vh;
    margin-top:1vh;
    margin-left:1vh;

}
.body32{
    height:15.8vh;
    width:61vh;
    margin-left:2vh;

}
.bodykuang{
    width:65vh;
    height:35vh;
    margin-top:1vh;
    margin-left:5vh;
    display
}
.body4{
    width:65vh;
    height:16vh;
    border:4px solid #3594B9;
    border-radius:25px ;
}
.body41{
    height:9vh;
    width:20vh;
    margin-top:-0.9vh;
    margin-left:-2vh;

}
.body42,.body52{
    height:5vh;
    width:61vh;
    margin-left:2vh;

}
.body5{
    width:65vh;
    height:16vh;
    margin-top:3vh;
    border:4px solid #3594B9;
    border-radius:25px;
}
.body51{
    height:9.5vh;
    width:17vh;
    margin-top:-0.9vh;
    margin-left:-2vh;
}
.body6{
    height:35vh;
    display:flex;
    flex-direction:row;
    width:140vh;
}
.body444,.body555{
    height:9vh;
    width:65vh;
    display:flex;
    flex-direction:row;
}
.body4444{
    height:7vh;
    width:40vh;
    margin-top:1vh;
    margin-left:5vh;

}
.body5555{
    height:7vh;
    width:44vh;
    margin-top:1vh;
    margin-left:4vh;

}