.allfoot{
    width:188.3vh;
    height:13.6vh
    margin-top:0vh;
    background-color:pink;
}
.foot1{
    width:138.3vh;
    height:13.6vh;
    background-color:green;
    margin-left:25vh;
}
.xian3{
    height:4px;
    width:188.3vh;
    background-color:red;
}
.xianfoot{
    height:1vh:
    width:188.3vh;
}