.allfoot{
    width:190vh;
    height:13vh
    margin-top:0vh;
}
.foot1{
    width:140vh;
    height:13vh;
    margin-left:25vh;
}
.xian3{
    height:8px;
    width:190vh;
    background-color:#3594B9;
}
.xianfoot{
    height:1vh:
    width:190vh;
}