.toubei{
    width:190vh;
    height: 15vh;
    font-size: 12px;
}
.tou1{
    height: 14vh;
    width:140vh;
    margin-left:25vh;
}
.tou2{
    height: 6vh;
    width:140vh;
    padding-top: 1vh;
    background-color: #3594B9
}
.tou3{
    height: 5vh;
    width: 12vh;
    display: inline-block;
    margin-left: 6.5vh;
}
