.allfoot{
    width:1244px;
    margin: 0 auto;
}
.centerfoot{
    width:1244px;
}
.xian3{
    height:8px;
    width:100%;
    background-color:#3594B9;
}
.xianfoot{
    height:10px;
    width:100%;
}