/*.toubei{
    width:100%;
    height: 15vh;
    font-size: 12px;
}*/
.tou1{
    width:1448px;
    margin: 0 auto;
}
.tou2{
    height: 70px;
    width:1448px;
    padding-top:10px;
    background-color: #3594B9;
}
.tou3{
    height: 40px;
    width: 120px;
    margin-left: 34px;
    position: relative;
    display: inline-block;
}
.tou3:hover{
    overflow: visible;
    color: black;
    cursor: pointer;
}
h1:hover{
    text-shadow:2px 2px 2px #000000;
}
.drop{
    opacity:0.7;
    text-align: center;
    width: 100%;
    line-height: 40px;
    overflow: hidden;
}
.drop:hover{
    background: #ffffff;
    cursor: pointer;
}
.xuanzekuang{
    background-color:#ffffff;
}
.xuanzekuang:hover{
    background-color:#3594B9;
}






