<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wed</title>
    <link rel="stylesheet" href="../static/indexfirst/main.css">
    <link rel="stylesheet" href="../static/indexfirst/header.css">
    <link rel="stylesheet" href="../static/indexfirst/body.css">
    <link rel="stylesheet" href="../static/indexfirst/foot.css">
    <link rel="stylesheet" href="../static/indexfirst/fontsit.css">
<!--    <link rel="stylesheet" href="../static/jiagou.css">-->
<!--    <link rel="stylesheet" href="../static/toubei.css">-->
</head>
<body>
    <div class="jiagou"><!--大框架-->
        <!--头部框架-->
        <div class="toubei" >
            <div class="tou1">
                <img src="../image/图片6.png" width="1372" height="147">
            </div>
        </div>
        <!--身体框架-->
        <div class="allbody">
            <div class="tou2">
                <div class="tou3">
                    <a href="bing.com" style="text-decoration:none" >
                        <h1 class="font1" align="center">首页</h1>
                    </a>
                </div>
                <div class="tou3">
                    <a href="bing.com" style="text-decoration:none" >
                        <h1 class="font1" align="center">研究方向</h1>
                    </a>
                </div>
                <div class="tou3">
                    <a href="bing.com" style="text-decoration:none" >
                        <h1 class="font1" align="center">师生队伍</h1>
                    </a>
                </div>
                <div class="tou3">
                    <a href="bing.com" style="text-decoration:none" >
                        <h1 class="font1" align="center">学术成果</h1>
                    </a>
                </div>
                <div class="tou3">
                    <a href="bing.com" style="text-decoration:none" >
                        <h1 class="font1" align="center">人才培养</h1>
                    </a>
                </div>
                <div class="tou3">
                    <a href="bing.com" style="text-decoration:none" >
                        <h1 class="font1" align="center">新闻动态</h1>
                    </a>
                </div>
                <div class="tou3">
                    <a href="bing.com" style="text-decoration:none" >
                        <h1 class="font1" align="center">联系我们</h1>
                    </a>
                </div>
            </div>
            <!--线框框架-->
            <div class="xian">
                <div class="xian1"></div>
            </div>
            <!--图片框架-->
            <div class="body1" ></div>
            <div class="body2" ></div>
            <!--线框框架-->
            <div class="xiankuang">
                <div class="xian1"></div>
                <div class="xian2"></div>
            </div>
            <div class="body6">
                <!--图片框架-->
                <div class="body3" >
                    <div class="body333">
                        <div class="body31">
                            <img src="../image/实验室简介1.png" >
                        </div>
                        <div class="body3333"></div>
                    </div>

                    <div class="body32"></div>
                </div>
                <div class="bodykuang" >
                    <div class="body4">
                        <div class="body444">
                            <div class="body41">
                                <img src="../image/实验室自研系统1.png" >
                            </div>
                            <div class="body4444"></div>
                        </div>

                        <div class="body42"></div>
                    </div>
                    <div class="body5">
                        <div class="body555">
                            <div class="body51">
                                <img src="../image/最新动态1.png" >
                            </div>
                            <div class="body5555"></div>
                        </div>
                        <div class="body52"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="allfoot">
            <!--线框框架-->
            <div class="xianfoot">
                <div class="xian3"></div>
            </div>
            <div class="foot1">
                <div class="font2" align="center">
                    西南科技大学 版权所有 网站管理： 智能计算与系统结构实验室
                </div>
                <div  class="font2" align="center">
                    地址： 四川省绵阳市涪城区青龙59号 邮政编码： 621010
                </div>


            </div>
        </div>
    </div>
</body>
</html>