<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web</title>
    <link rel="stylesheet" href="../static/indexthird/main.css">
    <link rel="stylesheet" href="../static/indexfirst/header.css">
    <link rel="stylesheet" href="../static/indexthird/body.css">
    <link rel="stylesheet" href="../static/indexfirst/foot.css">
    <link rel="stylesheet" href="../static/indexfirst/fontsit.css">
</head>
<body>
    <div class="jiagou" style="border:1px solid;border-color:red" ><!--大框架-->
        <!--头部框架-->
        <div class="toubei" >
            <div class="tou1">
                <img src="../image/图片6.png" width="1372" height="147">
            </div>

        </div>
        <!--身体框架-->
        <div class="allbody2">
            <div class="tou2">
                <div class="tou3">
                    <a href="bing.com" style="text-decoration:none" >
                        <h1 class="font1" align="center">首页</h1>
                    </a>
                </div>
                <div class="tou3">
                    <a href="bing.com" style="text-decoration:none" >
                        <h1 class="font1" align="center">研究方向</h1>
                    </a>
                </div>
                <div class="tou3">
                    <a href="bing.com" style="text-decoration:none" >
                        <h1 class="font1" align="center">师生队伍</h1>
                    </a>
                </div>
                <div class="tou3">
                    <a href="bing.com" style="text-decoration:none" >
                        <h1 class="font1" align="center">学术成果</h1>
                    </a>
                </div>
                <div class="tou3">
                    <a href="bing.com" style="text-decoration:none" >
                        <h1 class="font1" align="center">人才培养</h1>
                    </a>
                </div>
                <div class="tou3">
                    <a href="bing.com" style="text-decoration:none" >
                        <h1 class="font1" align="center">新闻动态</h1>
                    </a>
                </div>
                <div class="tou3">
                    <a href="bing.com" style="text-decoration:none" >
                        <h1 class="font1" align="center">联系我们</h1>
                    </a>
                </div>
            </div>
            <!--线框框架-->
            <div class="xian">
                <div class="xian1"></div>
            </div>
            <!--图片框-->
            <div class="body1">
                <div class="smallbody11"></div>
                <div class="smallbody12"></div>
            </div>
            <div class="body2">
                <div class="smallbody21">
                    <div class="smallbody211"></div>
                </div>
                <div class="smallbody22">
                    <div class="smallbody221">
                        <div class="smallbody2211" style="display:inline"></div>
                        <div class="smallbody2212" style="display:inline"></div>
                    </div>
                    <div class="smallbody222"></div>
                    <div class="smallbody223"></div>
                </div>
                <div class="smallbody23">
                    <div class="smallbody231"></div>
                </div>
            </div>
            <div class="body3">
                <div class="smallbody22">
                    <div class="smallbody221">
                        <div class="smallbody2211" style="display:inline"></div>
                        <div class="smallbody2212" style="display:inline"></div>
                    </div>
                    <div class="smallbody222"></div>
                    <div class="smallbody223"></div>
                </div>
                <div class="body31">
                    <div class="body311"></div>
                    <div class="body312"></div>
                </div>
                <div class="smallbody22xiu">
                    <div class="smallbody221">
                        <div class="smallbody2211" style="display:inline"></div>
                        <div class="smallbody2212" style="display:inline"></div>
                    </div>
                    <div class="smallbody222"></div>
                    <div class="smallbody223"></div>
                </div>
                <div class="body4">
                    <div class="body41">
                        <div class="body311"></div>
                        <div class="body312"></div>
                    </div>
                    <div class="body42">
                        <div class="body311"></div>
                        <div class="body312"></div>
                    </div>
                    <div class="body42">
                        <div class="body311"></div>
                        <div class="body312"></div>
                    </div>
                    <div class="body42">
                        <div class="body311"></div>
                        <div class="body312"></div>
                    </div>
                </div>
                <div class="smallbody22xiu1">
                    <div class="smallbody221">
                        <div class="smallbody2211" style="display:inline"></div>
                        <div class="smallbody2212" style="display:inline"></div>
                    </div>
                    <div class="smallbody222"></div>
                    <div class="smallbody223"></div>
                </div>
                <div class="body4">
                    <div class="body41">
                        <div class="body311"></div>
                        <div class="body312"></div>
                    </div>
                    <div class="body42">
                        <div class="body311"></div>
                        <div class="body312"></div>
                    </div>
                    <div class="body42">
                        <div class="body311"></div>
                        <div class="body312"></div>
                    </div>
                    <div class="body42">
                        <div class="body311"></div>
                        <div class="body312"></div>
                    </div>
                </div>
                <div class="body4">
                    <div class="body41">
                        <div class="body311"></div>
                        <div class="body312"></div>
                    </div>
                    <div class="body42">
                        <div class="body311"></div>
                        <div class="body312"></div>
                    </div>
                    <div class="body42">
                        <div class="body311"></div>
                        <div class="body312"></div>
                    </div>
                    <div class="body42">
                        <div class="body311"></div>
                        <div class="body312"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--尾部框架-->
        <div class="allfoot">
            <div class="xianfoot">
                <div class="xian3"></div>
            </div>
            <div class="foot1">
                <div class="font2" align="center">
                    西南科技大学 版权所有 网站管理： 智能计算与系统结构实验室
                </div>
                <div  class="font2" align="center">
                    地址： 四川省绵阳市涪城区青龙59号 邮政编码： 621010
                </div>
            </div>
        </div>
    </div>
</body>
</html>