<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wed</title>
    <link rel="stylesheet" href="../static/indexfirst/main.css">
    <link rel="stylesheet" href="../static/indexfirst/header.css">
    <link rel="stylesheet" href="../static/indexfirst/body.css">
    <link rel="stylesheet" href="../static/indexfirst/foot.css">
    <link rel="stylesheet" href="../static/indexfirst/fontsit.css">
<!--    <link rel="stylesheet" href="../static/jiagou.css">-->
<!--    <link rel="stylesheet" href="../static/toubei.css">-->
</head>
<body>
    <div class="jiagou" style="border:1px solid;border-color:red" ><!--大框架-->
        <!--头部框架-->
        <div class="toubei" >
            <div class="tou1"></div>
            <div class="tou2">
                <div class="tou3"></div>
                <div class="tou3"></div>
                <div class="tou3"></div>
                <div class="tou3"></div>
                <div class="tou3"></div>
                <div class="tou3"></div>
                <div class="tou3"></div>
            </div>
        </div>
        <!--身体框架-->
        <div class="allbody">
            <!--线框框架-->
            <div class="xian">
                <div class="xian1"></div>
            </div>
            <!--图片框架-->
            <div class="body1" ></div>
            <div class="body2" ></div>
            <!--线框框架-->
            <div class="xiankuang">
                <div class="xian1"></div>
                <div class="xian2"></div>
            </div>
            <!--图片框架-->
            <div class="body3" ></div>
            <div class="bodykuang" >
                <div class="body4"></div>
                <div class="body5"></div>
            </div>

        </div>
        <div class="allfoot">
            <!--线框框架-->
            <div class="xianfoot">
                <div class="xian3"></div>
            </div>
            <div class="foot1"></div>
        </div>
    </div>
</body>
</html>