<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web</title>
    <link rel="stylesheet" href="../static/indexfirst/main.css">
    <link rel="stylesheet" href="../static/indexfirst/header.css">
    <link rel="stylesheet" href="../static/indexsecond/body.css">
    <link rel="stylesheet" href="../static/indexfirst/foot.css">
    <link rel="stylesheet" href="../static/indexfirst/fontsit.css">
</head>
<body>
    <div class="jiagou" style="border:1px solid;border-color:red" ><!--大框架-->
        <!--头部框架-->
        <div class="toubei" >
            <div class="tou1"></div>
            <div class="tou2">
                <div class="tou3"></div>
                <div class="tou3"></div>
                <div class="tou3"></div>
                <div class="tou3"></div>
                <div class="tou3"></div>
                <div class="tou3"></div>
                <div class="tou3"></div>
            </div>
        </div>
        <!--身体框架-->
        <div class="allbody1">
            <!--线框框架-->
            <div class="xian">
                <div class="xian1"></div>
            </div>
            <!--图片框-->
            <div class="body1">
                <div class="smallbody11"></div>
                <div class="smallbody12"></div>
            </div>
            <div class="body2">
                <div class="smallbody21">
                    <div class="smallbody211"></div>
                </div>
                <div class="smallbody22">
                    <div class="smallbody221">
                        <div class="smallbody2211" style="display:inline"></div>
                        <div class="smallbody2212" style="display:inline"></div>
                    </div>
                    <div class="smallbody222"></div>
                    <div class="smallbody223"></div>
                </div>
                <div class="smallbody23">
                    <div class="smallbody231"></div>
                </div>
            </div>
        </div>
        <!--尾部框架-->
        <div class="allfoot">
            <div class="xianfoot">
                <div class="xian3"></div>
            </div>
            <div class="foot1"></div>
        </div>
    </div>
</body>
</html>