<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wed</title>
    <link rel="stylesheet" href="../static/css/indexfirst/main.css">
    <link rel="stylesheet" href="../static/css/indexfirst/header.css">
    <link rel="stylesheet" href="../static/css/indexfirst/body.css">
    <link rel="stylesheet" href="../static/css/indexfirst/foot.css">
    <link rel="stylesheet" href="../static/css/indexfirst/fontsit.css">

    <link rel="stylesheet" href="../static/css/lunpan/imagelunpanb.css">
    <link rel="stylesheet" href="./static/plug-in/bootstrap-3.4.1/css/bootstrap.css">
<!--    <link rel="stylesheet" href="../static/jiagou.css">-->
<!--    <link rel="stylesheet" href="../static/toubei.css">-->
</head>
<body>
    <div class="jiagou"><!--大框架-->
        <!--头部框架-->
        <div class="tou1">
           <img src="../static/image/图片6.png" width=100% height="150px" class="img-rounded" data-holder-rendered="true"> <!-- 可以不要高度-->
        </div>
        <!--身体框架-->
        <div class="allbody">
            <div class="tou2">
                <table class="tou21">
                    <tbody>
                        <tr>
                            <td>
                                <table class="tou3">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="tou3">
                                                    <a href="bing.com" style="text-decoration:none" >
                                                        <h1 class="font1" align="center">首页</h1>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table class="tou3">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="tou3">
                                                    <a href="http://127.0.0.1:8000/admin/" style="text-decoration:none" action="/admin/">
                                                        <h1 class="font1" align="center">研究方向</h1>
                                                    </a>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table class="tou3">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="tou3">
                                                    <a href="bing.com" style="text-decoration:none" >
                                                        <h1 class="font1" align="center">师生队伍</h1>
                                                    </a>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table class="tou3">
                                    <tbody>
                                        <tr>
                                            <td align="center">
                                                <div class="tou3">
                                                    <a href="bing.com" style="text-decoration:none">
                                                        <h1 class="font1" align="center">学术成果</h1>
                                                    </a>
                                                    <!--两种方式-->
                                                    <!--第一种ul方式-->
                                                    <div class="drop">
                                                        <ul>
                                                            <li class="xuanzekuang">
                                                                <a href="bing.com" style="text-decoration:none">-->
                                                                    <span style="color:#000000;font-size:10px;">论文</span>
                                                                </a>
                                                            </li>
                                                            <li class="xuanzekuang">
                                                                <a href="bing.com" style="text-decoration:none">-->
                                                                    <span style="color:#000000;font-size:10px;">项目</span>
                                                                </a>
                                                            </li>
                                                            <li class="xuanzekuang">
                                                                <a href="bing.com" style="text-decoration:none">-->
                                                                    <span style="color:#000000;font-size:10px;">专利</span>
                                                                </a>
                                                            </li>
                                                            <li class="xuanzekuang">
                                                                <a href="bing.com" style="text-decoration:none">-->
                                                                    <span style="color:#000000;font-size:10px;">著作</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
<!--                                                    第二种div方式-->
<!--                                                    <div class="drop">-->
<!--                                                        <a href="bing.com" style="text-decoration:none">-->
<!--                                                            <span style="color:#ffffff;font-size:20px;">论文</span>-->
<!--                                                        </a>-->
<!--                                                    </div>-->
<!--                                                    <div class="drop">-->
<!--                                                        <a href="bing.com" style="text-decoration:none">-->
<!--                                                            <span style="color:#ffffff;font-size:20px;">项目</span>-->
<!--                                                        </a>-->
<!--                                                    </div>-->
<!--                                                    <div class="drop">-->
<!--                                                        <a href="bing.com" style="text-decoration:none">-->
<!--                                                            <span style="color:#ffffff;font-size:20px;">专利</span>-->
<!--                                                        </a>-->
<!--                                                    </div>-->
<!--                                                    <div class="drop">-->
<!--                                                        <a href="bing.com" style="text-decoration:none">-->
<!--                                                            <span style="color:#ffffff;font-size:20px;">著作</span>-->
<!--                                                        </a>-->
<!--                                                    </div>-->
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table class="tou3">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="tou3">
                                                    <a href="bing.com" style="text-decoration:none" >
                                                        <h1 class="font1" align="center">人才培养</h1>
                                                    </a>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table class="tou3">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="tou3">
                                                    <a href="bing.com" style="text-decoration:none" >
                                                        <h1 class="font1" align="center">新闻动态</h1>
                                                    </a>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table class="tou3">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="tou3">
                                                    <a href="bing.com" style="text-decoration:none" >
                                                        <h1 class="font1" align="center">联系我们</h1>
                                                    </a>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--线框框架-->
            <div class="xian">
                <div class="xian1"></div>
            </div>
            <!--图片框架-->
            <div class="body0">
                <!--图片框架-->
                <div class="body1" >
                    <div class="banner-imgBox2">
                        <img src="../static/image/picture1.jpg" alt="">
                        <img src="../static/image/picture2.jpg" alt="">
                        <img src="../static/image/picture3.png" alt="">
                        <img src="../static/image/picture4.png" alt="">
                    </div>
                    <div class="banner-imgBox-div">
                        <div class="on"></div>
                        <div class="on"></div>
                        <div class="on"></div>
                        <div class="on"></div>
                    </div>
                    <img class="banner-imgBox-left" src="../static/image/left.jpg" onclick="marginLeft(false)">
                    <img class="banner-imgBox-right" src="../static/image/right.jpg" onclick="marginLeft(true)">
                </div>
                <div class="body2" ></div>
            </div>
            <!--线框框架-->
            <div class="xiankuang">
                <div class="xian1"></div>
                <div class="xian2"></div>
            </div>
            <div class="body6">
                <!--图片框架-->
                <div class="body3" >
                    <div class="body333">
                        <div class="body31">
                            <img src="../static/image/实验室简介1.png" >
                        </div>
                        <div class="body3333"></div>
                    </div>

                    <div class="body32"></div>
                </div>
                <div class="bodykuang" >
                    <div class="body4">
                        <div class="body444">
                            <div class="body41">
                                <img src="../static/image/实验室自研系统1.png" >
                            </div>
                            <div class="body4444"></div>
                        </div>

                        <div class="body42"></div>
                    </div>
                    <div class="body5">
                        <div class="body555">
                            <div class="body51">
                                <img src="../static/image/最新动态1.png" >
                            </div>
                            <div class="body5555"></div>
                        </div>
                        <div class="body52"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="allfoot">
            <!--线框框架-->
            <div class="xianfoot">
                <div class="xian3"></div>
            </div>
            <div class="centerfoot">
                <div class="jieweifont" align="center">
                    西南科技大学 版权所有 网站管理： 智能计算与系统结构实验室
                </div>
                <div  class="jieweifont" align="center">
                    地址： 四川省绵阳市涪城区青龙59号 邮政编码： 621010
                </div>
            </div>
        </div>
    </div>
<script src="../static/js/jquery-3.7.0.min.js"></script>
<script src="../static/plug-in/bootstrap-3.4.1/js/bootstrap.min.js"></script>
<script src="../static/js/index1/imagelunpan.js"></script>
<script src="https://cdn.bootcss.com/canvas-nest.js/2.0.4/canvas-nest.js" type="text/javascript" color="255,0,0" opacity="0.5" count="99" zIndex="-2" ></script>
</body>
</html>