<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Web</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Web/css/indexfirst/main.css' %}">
    <link rel="stylesheet" href="{% static 'Web/css/indexfirst/header.css' %}">
    <link rel="stylesheet" href="{% static 'Web/css/indexfirst/body.css' %}">
    <link rel="stylesheet" href="{% static 'Web/css/indexfirst/foot.css' %}">
    <link rel="stylesheet" href="{% static 'Web/css/indexfirst/fontsit.css' %}">
    <link rel="stylesheet" href="{% static 'Web/css/lunpan/imagelunpanb.css' %}">
    <link rel="stylesheet" href="{% static 'Web/plug-in/bootstrap-3.4.1/css/bootstrap.css' %}">
</head>

<body>
    <h1>访问的页面不存在</h1>
    <script src="{% static 'Web/js/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'Web/plug-in/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Web/js/index1/imagelunpan.js' %}"></script>
    <script src="https://cdn.bootcss.com/canvas-nest.js/2.0.4/canvas-nest.js" type="text/javascript" color="255,0,0"
        opacity="0.5" count="99" zIndex="-2"></script>
</body>

</html>