<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Web</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Web/css/indexfirst/main.css' %}">
    <link rel="stylesheet" href="{% static 'Web/css/indexfirst/header.css' %}">
    <link rel="stylesheet" href="{% static 'Web/css/indexthird/body.css' %}">
    <link rel="stylesheet" href="{% static 'Web/css/indexfirst/foot.css' %}">
    <link rel="stylesheet" href="{% static 'Web/css/indexfirst/fontsit.css' %}">
    <link rel="stylesheet" href="{% static 'Web/plug-in/bootstrap-3.4.1/css/bootstrap.css' %}">
</head>
<body>
    <div class="jiagou"><!--大框架-->
        <!--头部框架-->
        <div class="tou1">
            <img src="{% static 'Web/image/图片6.png' %}" width=100% height="120px" class="img-rounded" data-holder-rendered="true">
        </div>
        <!--身体框架-->
        <div class="allbody2">
            <div class="tou2">
                <table class="tou21">
                    <tbody>
                        <tr>
                            <td>
                                <table class="tou3">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="tou3">
                                                    <a href="/home/" style="text-decoration:none" >
                                                        <h1 class="font1" align="center">首页</h1>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table class="tou3">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="tou3">
                                                    <a href="/research/" style="text-decoration:none">
                                                        <h1 class="font1" align="center">研究方向</h1>
                                                    </a>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table class="tou3">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="tou3">
                                                    <a href="/team/" style="text-decoration:none" >
                                                        <h1 class="font1" align="center">师生队伍</h1>
                                                    </a>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table class="tou3">
                                    <tbody>
                                        <tr>
                                            <td align="center">
                                                <div class="tou3">
                                                    <a href="/train/" style="text-decoration:none">
                                                        <h1 class="font1" align="center">人才培养</h1>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table class="tou3">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="tou3">
                                                    <a href="/thesis/" style="text-decoration:none" >
                                                        <h1 class="font1" align="center">学术成果</h1>
                                                    </a>
                                                    <div class="drop">
                                                        <ul>
                                                            <li>
                                                                <a href="/thesis/" style="text-decoration:none;">
                                                                    <div class="xuanzekuang">
                                                                        <span style="color:#000000;font-size:120%;">论文</span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/project/" style="text-decoration:none;">
                                                                    <div class="xuanzekuang">
                                                                        <span style="color:#000000;font-size:120%;">项目</span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/patents/" style="text-decoration:none;">
                                                                    <div class="xuanzekuang">
                                                                        <span style="color:#000000;font-size:120%;">专利</span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/writings/" style="text-decoration:none;">
                                                                    <div class="xuanzekuang">
                                                                        <span style="color:#000000;font-size:120%;">著作</span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table class="tou3">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="tou3">
                                                    <a href="/news/" style="text-decoration:none" >
                                                        <h1 class="font1" align="center">新闻动态</h1>
                                                    </a>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table class="tou3">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="tou3">
                                                    <a href="/contactus/" style="text-decoration:none" >
                                                        <h1 class="font1" align="center">联系我们</h1>
                                                    </a>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--线框框架-->
            <div class="xian">
                <div class="xian1"></div>
            </div>
            <div class="body6">
                <!--图片框-->
                <div class="body1">
                    <div class="smallbody11" style="background-image:url("{% static 'Web/image/标题背景.jpg' %}");background-size: 100%;">
                        <div class="beijing" style="text-align:center;font-size:20px;color:#ffffff;">
                            师生队伍
                        </div>
                    </div>
                    <div class="smallbody12">
                        <!-- 替换图片 -->
                        <img src="{% static 'Web/image/login_interface.jpg' %}">
                    </div>
                </div>
                <div class="body2">
                    <div class="smallbody21">
                        <div class="smallbody211 clearfix" align="center">
                            首页-师生队伍
                        </div>
                    </div>
                    <div class="smallbody22">
                        <div class="smallbody221 clearfix">
                            <div class="smallbody2211 clearfix">
                                <!-- 替换图片 -->
                                <img src="{% static 'Web/image/师生.png' %}" style="width:100%; height:60px">
                            </div>
                            <div class="smallbody2212" align="center">
                                师生队伍
                            </div>
                        </div>
                        <div class="smallbody222"></div>
                        <div class="smallbody223"></div>
                    </div>
                    <div class="smallbody23">
                        <div class="smallbody231">
                            <!-- 替换文字 -->
                            <div class="smallbody231xiu">
                                “每一项科学突破都始于一个问题。我们可能无法立即提供所有答案，但也许共享问题并与他人进行对话，是一个很好的起点。”《科学》
                                杂志定制出版编辑Jackie Oberst博士说。4月10日下午，上海交通大学携手《科学》杂志发布“新
                                125个科学问题”——《125个科学问题：探索与发现》。
                            </div>
                        </div>
                    </div>
                    <div class="body3">
                        <div class="smallbody22">
                            <div class="smallbody221">
                                <div class="smallbody2211 clearfix">
                                    <img src="{% static 'Web/image/师生.png' %}" style="width:100%; height:60px">
                                </div>
                                <div class="smallbody2212" align="center">
                                    导师
                                </div>
                            </div>
                            <div class="smallbody222"></div>
                            <div class="smallbody223"></div>
                        </div>
                        <div class="jiaoshi">
                            <div class="body31">
                                <div class="body311">
                                    <!-- 替换文字和图片 -->
                                    <img src="{% static 'Web/image/yanglitu.png' %}" width="100%" height="100%" style="border-radius:100px;" >
                                </div>
                                <div class="body312" align="center">
                                    <p>导师</p>
                                </div>
                            </div>
                            <div class="body42">
                                <div class="body311">
                                    <img src="{% static 'Web/image/yanglitu.png' %}" width="100%" height="100%" style="border-radius:100px;" >
                                </div>
                                <div class="body312" align="center">
                                    <p>导师</p>
                                </div>
                            </div>
                        </div>
                        <div class="smallbody22xiu">
                            <div class="smallbody221">
                                <div class="smallbody2211 clearfix">
                                    <img src="{% static 'Web/image/学生.png' %}" style="height:60px;width:100%;">
                                </div>
                                <div class="smallbody2212" align="center">
                                    研究生
                                </div>
                            </div>
                            <div class="smallbody222"></div>
                            <div class="smallbody223"></div>
                        </div>
                        <div class="body4">
                            <div class="body41">
                                <div class="body311">
                                    <!-- 替换文字和图片 -->
                                    <img src="{% static 'Web/image/yanglitu.png' %}" width="100%" height="100%" style="border-radius:100px;" >
                                </div>
                                <div class="body312" align="center">
                                    <p>导师</p>
                                </div>
                            </div>
                            <div class="body42">
                                <div class="body311">
                                    <img src="{% static 'Web/image/yanglitu.png' %}" width="100%" height="100%" style="border-radius:100px;" >
                                </div>
                                <div class="body312" align="center">
                                    <p>导师</p>
                                </div>
                            </div>
                            <div class="body42">
                                <div class="body311">
                                    <img src="{% static 'Web/image/yanglitu.png' %}" width="100%" height="100%" style="border-radius:100px;" >
                                </div>
                                <div class="body312" align="center">
                                    <p>导师</p>
                                </div>
                            </div>
                            <div class="body42">
                                <div class="body311">
                                    <img src="{% static 'Web/image/yanglitu.png' %}" width="100%" height="100%" style="border-radius:100px;" >
                                </div>
                                <div class="body312" align="center">
                                    <p>导师</p>
                                </div>
                            </div>
                        </div>
                        <div class="smallbody22xiu1">
                            <div class="smallbody221">
                                <div class="smallbody2211">
                                    <img src="{% static 'Web/image/学生.png' %}" style="height:60px;width:100%;">
                                </div>
                                <div class="smallbody2212" align="center">
                                    本科生
                                </div>
                            </div>
                            <div class="smallbody222"></div>
                            <div class="smallbody223"></div>
                        </div>
                        <div class="body4">
                            <div class="body41">
                                <div class="body311">
                                    <img src="{% static 'Web/image/yanglitu.png' %}" width="100%" height="100%" style="border-radius:100px;" >
                                </div>
                                <div class="body312" align="center">
                                    <p>导师</p>
                                </div>
                            </div>
                            <div class="body42">
                                <div class="body311">
                                    <img src="{% static 'Web/image/yanglitu.png' %}" width="100%" height="100%" style="border-radius:100px;" >
                                </div>
                                <div class="body312" align="center">
                                    <p>导师</p>
                                </div>
                            </div>
                            <div class="body42">
                                <div class="body311">
                                    <img src="{% static 'Web/image/yanglitu.png' %}" width="100%" height="100%" style="border-radius:100px;" >
                                </div>
                                <div class="body312" align="center">
                                    <p>导师</p>
                                </div>
                            </div>
                            <div class="body42">
                                <div class="body311">
                                    <img src="{% static 'Web/image/yanglitu.png' %}" width="100%" height="100%" style="border-radius:100px;" >
                                </div>
                                <div class="body312" align="center">
                                    <p>导师</p>
                                </div>
                            </div>
                        </div>
                        <div class="body4">
                            <div class="body41">
                                <div class="body311">
                                    <img src="{% static 'Web/image/yanglitu.png' %}" width="100%" height="100%" style="border-radius:100px;" >
                                </div>
                                <div class="body312" align="center">
                                    <p>导师</p>
                                </div>
                            </div>
                            <div class="body42">
                                <div class="body311">
                                    <img src="{% static 'Web/image/yanglitu.png' %}" width="100%" height="100%" style="border-radius:100px;" >
                                </div>
                                <div class="body312" align="center">
                                    <p>导师</p>
                                </div>
                            </div>
                            <div class="body42">
                                <div class="body311">
                                    <img src="{% static 'Web/image/yanglitu.png' %}" width="100%" height="100%" style="border-radius:100px;" >
                                </div>
                                <div class="body312" align="center">
                                    <p>导师</p>
                                </div>
                            </div>
                            <div class="body42">
                                <div class="body311">
                                    <img src="{% static 'Web/image/yanglitu.png' %}" width="100%" height="100%" style="border-radius:100px;" >
                                </div>
                                <div class="body312" align="center">
                                    <p>导师</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--尾部框架-->
        <div class="allfoot">
            <div class="xianfoot">
                <div class="xian3"></div>
            </div>
            <div class="centerfoot">
                <div class="jieweifont" align="center">
                    西南科技大学 版权所有 网站管理： 智能计算与系统结构实验室
                </div>
                <div  class="jieweifont" align="center">
                    地址： 四川省绵阳市涪城区青龙59号 邮政编码： 621010
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'Web/js/jquery-3.7.0.min.js' %}"></script>
<script src="{% static 'Web/plug-in/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
<script src="https://cdn.bootcss.com/canvas-nest.js/2.0.4/canvas-nest.js" type="text/javascript" color="255,0,0" opacity="0.5" count="99" zIndex="-2" ></script>
</body>
</html>