.allbody1{
    width:140vh;
    margin-left:25vh;
    height:75vh;
    padding-top:1vh;
    background-color:#D2691E
}
.xian{
    height:1vh:
    width:140vh;

}
.xian1{
    height:4px;
    width:140vh;
    margin-top:0.3vh;
    background-color:red;
}
.body1{
    width:30vh;
    height:63vh;
    margin-top:1vh;
    padding-top: 2vh;
    display:inline-block;
}
.smallbody11{
    width: 30vh;
    height: 5vh;
    background-color: pink;
}
.smallbody12{
    width: 30vh;
    height:56vh;
    margin-top:2vh;
    background-color: pink;
}
.body2{
    width:101.8vh;
    height:67vh;
    display:inline-block;
    margin-left: 6vh;

}
.smallbody21{
    width: 101.8vh;
    height:8vh;
    padding-top:2vh;

}
.smallbody211{
    width:20vh;
    height:4vh;
    float:right;
    background-color:#A6FFFF;
}
.smallbody22{
    width: 101.8vh;
    height:8vh;

}
.smallbody221{
    width:40vh;
    height:6vh;
}
.smallbody2211{
    width:7vh;
    height:6vh;
    float:left;
    background-color:blue;
}
.smallbody2212{
    width:30vh;
    height:6vh;
    float:right;
    background-color: pink;
}
.smallbody222{
    width:40vh;
    height:4px;
    margin-top:2px;
    background-color:red;

}
.smallbody223{
    width:25vh;
    height:2px;
    margin-top:1vh;
    background-color:red;
}
.smallbody23{
    width:101.8vh;
    height:40vh;
    padding-top:9vh;
}
.smallbody231{
    width:95vh;
    height:40vh;
    border:2px solid yellow;
    border-radius:25px ;
    background-color:yellow;
}