.allbody1{
    width:140vh;
    margin-left:25vh;
    height:80vh;

}
.xian{
    height:1vh:
    width:140vh;
    margin-top:1vh;
}
.xian1{
    height:4px;
    width:140vh;
    margin-top:0.3vh;
    background-color:#3594B9;
}
.body1{
    width:28vh;
    height:63vh;
    margin-top:1vh;
    padding-top: 1vh;
}
.smallbody11{
    width: 28vh;
    height: 7vh;
    background-color: pink;
}
.smallbody12{
    width: 28vh;
    height:56vh;
    margin-top:2vh;
    background-color: pink;
}
.body2{
    width:101.8vh;
    height:67vh;
    margin-left: 8vh;

}
.smallbody21{
    width: 101.8vh;
    height:8vh;
    padding-top:1vh;
}
.smallbody211{
    width:20vh;
    height:4vh;
    float:right;
    color:gray;
    font-size:30px;
}
.smallbody22{
    width: 101.8vh;
    height:8vh;

}
.smallbody221{
    width:40vh;
    height:6vh;
}
.smallbody2211{
    width:7vh;
    height:6vh;
    float:left;

}
.smallbody2212{
    width:32vh;
    height:6vh;
    color:#3594B9;
    font-size:36px;
    font-weight:bold;
}
.smallbody222{
    width:36vh;
    height:3px;
    margin-top:2px;
    background-color:#3594B9;

}
.smallbody223{
    width:24vh;
    height:3px;
    margin-top:1vh;
    background-color:#76BBA6;
}
.smallbody23{
    width:101.8vh;
    height:40vh;
    padding-top:4vh;
}
.smallbody231{
    width:95vh;
    height:40vh;
    border:4px solid #3594B9;
    border-radius:25px ;
}
.body6{
    width:140vh;
    height:80vh;
    display:flex;
    flex-direction:row;
}