ul{
	list-style: none;
}
a{
    text-decoration: none;
}
#container{
	position: relative;
	width: 590px;
	height: 360px;
	margin: 0px auto;
	overflow: hidden; /*溢出隐藏：只显示一张图片*/
}
#container .parent{
	position: absolute;
	width: 2360px; /*整个图片层长度：500*5=2500*/
	height: 360px;
	transition: all 1s;
}
#container .parent li{
	float: left;
	width: 590px;
	height: 100%;
}
#container .parent li img{
	width: 100%;
	height: 100%;
}
#container .btnLeft,
#container .btnRight{
	width: 30px;
    height: 30px;
    background-color: #9E9E9E;
    border-radius: 20%;
    opacity: 80%;
    position: absolute; /*包含块为图片显示层container*/
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 20px;
   	color: #f40;
  	text-align: center;
   	line-height: 30px;
}
#container .btnLeft{
    left: 10px;
}
#container .btnRight{
	right: 10px;
}
#container .btnLeft:hover,
#container .btnRight:hover{
	opacity: 50%;
	cursor: pointer;
}
/*蒙层*/
#container .dots{
	margin-left:185px;
	position: absolute;
	bottom: 10px;
}
#container .dots li{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	float: left;
	/*可以使用行块盒*/
	/*display: inline-block;*/
	margin: 0 20px;
	cursor: pointer;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.on{
	background-color: red;
}
.off{
	background-color: gray;
}